.topnav {
    padding:12px;
}
  
  .topnav a:hover {
    border-bottom: 3px ;
  }
  
  .topnav a.active {
    border-bottom: 3px solid blue;
  }

  .name {
    padding-left: 12px;
    padding-top:5px;

  }